<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Help Page</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <h3> {{message}} </h3>

        <ul>
            <li>Enter Country, Region, District, Place, Locality or Postcode</li>
            <li>Prefer Country or Region for Exact weather information</li>
            <li>Partial Location details accepted</li>
        </ul>

    </div>

    {{>footer}}
</body>

</html>